@import "tailwindcss";

/* :root {

  --color-primary: #093FB4;
  --color-primary-light: #93c5fd;
  --color-secondary: #ffd500;
  
} */


@theme {
  --font-display: "Satoshi", "sans-serif";
    --color-primary: #093FB4;
  --color-primary-light: #93c5fd;
  --color-secondary: #ffd500;


  /* ... */
}